<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	      http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	       http://www.springframework.org/schema/aop
	       http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
	      http://www.springframework.org/schema/context
	      http://www.springframework.org/schema/context/spring-context-3.0.xsd">

	<!-- <context:annotation-config /> - no need due to component-scan -->

	<context:component-scan base-package="beans">
	</context:component-scan>
	<bean id="aspect" class="beans.Aspect">
	</bean>

	<aop:config>
		<aop:aspect id="myAspect" ref="aspect">

			<aop:pointcut id="allMethods" expression="execution(* beans.*.*(..))" />
			<aop:pointcut id="wordPrinter" expression="execution(* beans.Worker.printWord(String)) and args(word)" />

			<aop:before pointcut-ref="allMethods" method="doWorkBefore" />
			<aop:around pointcut-ref="allMethods" method="doWorkBeforeAndAfter" />

			<aop:before pointcut-ref="wordPrinter" method="intercepter" arg-names="word" />

		</aop:aspect>
	</aop:config>



</beans>
